@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fitness&Nutrition</h1>
    <form>
        <h2>
            Let's Create
            Your Body Profile
        </h2>
    </form>
    <button>
        START
    </button>
</div>
